{% extends 'base.html' %}

{% block title %}
Welcome to Vida - The Intelligent Keyboard
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
{% endblock %}

{% block content %}
<div class="container skyscraper vcenter-p text-center hero-image">
	<div class="vcenter-c">
		<h1>The Next Generation's Intelligent Keyboard is here!</h1>
		<p>Introducing Vida, the Intelligent Keyboard that transliterates language in real-time.</p>
		<a class="btn btn-info" href="{{ url_for('static', filename='vendors/vida/VidaChrome.crx') }}"><i class="fa fa-fw fa-download"></i> Download Extension</a>
		<a class="btn btn-info" href="{{ url_for('static', filename='js/vida.js') }}"><i class="fa fa-fw fa-code"></i> JavaScript Library</a>
		<a class="btn btn-info" href="{{ url_for('demo') }}"><i class="fa fa-fw fa-eye"></i> See in Action</a>
	</div>	
</div>
{% endblock %}