{% extends 'base.html' %}

{% block title %}
Welcome to Vida - The Intelligent Keyboard
{% endblock %}

{% block content %}
<div class="container skyscraper">
	<div class="row">
		<div class="col-lg-8 col-md-8">
			<div class="form-group">
				<textarea name="" id="chatarea" cols="30" rows="10" class="form-control" placeholder="Type your message here ..."></textarea>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/welcome.js') }}"></script>
{% endblock %}